@font-face {
    font-family: slabo;
    src: url(Slabo27px-Regular.ttf);
}
@font-face {
    font-family: bebe;
    src: url(BebasNeue-Regular.ttf);
}
body{
    background-color: rgb(63, 63, 64);
    
}
.navbar a{
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    display: block;
    text-align: center; 

}
.navbar li{
    float:right;
}
.navbar ul{
    list-style-type: none;
    background-color: hsla(44, 63%, 17%, 0.321);
    padding: 0;
    margin: 0;
    display: block;
    height: 50px;
    overflow: hidden;
    
}
.navbar a:not(active){
    color: white;
    font-size: 1.1em;
}
.navbar a:hover{
    background-color: #786D5F;
}
.divi{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    min-width: 500px;
    background-color:rgb(147, 149, 152);
    margin: 80px;
    font-size: 2em;
    font-weight: bold;
    font-family: slabo;
    border-radius: 100px;
    width: 250px;
    margin-left: 500px;
}
.divi li{
    padding: 10px;
}
.divi li:hover{
    display: inline;
    background-color:rgb(83, 84, 87); ;
}