@font-face {
    font-family: slabo;
    src: url(Slabo27px-Regular.ttf);
}
@font-face {
    font-family: bebe;
    src: url(BebasNeue-Regular.ttf);
}
body{
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.banner {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
    );
    background-size: cover;
    background-position: center;
}

.banner-content {
    color: white;
    max-width: 700px;
    padding: 20px;
}

.banner-content h1 {
    font-family: bebe;
    font-size: 3.5em;
    letter-spacing: 3px;
}

.banner-content h2 {
    font-size: 1.8em;
    margin: 10px 0;
    color: #e0e0e0;
}

.banner-content p {
    font-size: 1.1em;
    line-height: 1.6;
}

.navbar a{
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    display: block;
    text-align: center; 

}
.navbar li{
    float:right;
}
.navbar ul{
    list-style-type: none;
    background-color: hsla(44, 63%, 17%, 0.321);
    padding: 0;
    margin: 0;
    display: block;
    height: 50px;
    overflow: hidden;
    
}
.navbar a:not(active){
    color: white;
    font-size: 1.1em;
}
.navbar a:hover{
    background-color: #786D5F;
}
div{
    margin: 10px;
    padding: 10px;
    font-size: 1.2em;
    text-align: justify;
    font-family: slabo;
    height: auto;
    overflow: visible;

}
span{
    font-size: 3em;
    font-family: bebe;
    letter-spacing: 5px;
}
.spy{
    color: rgb(119, 116, 116);
}