body{
    background-color: rgb(48, 47, 47);
}
.grid{
    margin: 20px;
    display: flex;
    min-height: 200px;
    flex-wrap: wrap;
    justify-content: center; /* horizontal */
    align-items: center;
    gap: 20px;
}
.grid1{
    margin: 20px;
    display: flex;
    min-height: 200px;
    flex-wrap: wrap;
    justify-content: center; /* horizontal */
    align-items: center;
    gap: 20px;
}

.navbar a{
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    display: block;
    text-align: center; 

}
.navbar li{
    float:right;
}
.navbar ul{
    list-style-type: none;
    background-color: hsla(44, 63%, 17%, 0.321);
    padding: 0;
    margin: 0;
    display: block;
    height: 50px;
    overflow: hidden;
    
}
.navbar a:not(active){
    color: white;
    font-size: 1.1em;
}
.navbar a:hover{
    background-color: #786D5F;
}
