body {
  font-family: Arial, sans-serif;
  background-color: #717880;
  text-align: center;
}
.navbar a{
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    display: block;
    text-align: center; 

}
.navbar li{
    float:right;
}
.navbar ul{
    list-style-type: none;
    background-color: hsla(44, 63%, 17%, 0.321);
    padding: 0;
    margin: 0;
    display: block;
    height: 50px;
    overflow: hidden;
    
}
.navbar a:not(active){
    color: white;
    font-size: 1.1em;
}
.navbar a:hover{
    background-color: #786D5F;
}
h1 {
    margin-top: 100px;
  color: #1e1f20;
}

.content {
  max-width: 600px;
  margin: 50px auto;
  line-height: 1.6;
  font-size: 1.5em;
}

.pages {
  margin-top: 40px;
}

.pages a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  text-decoration: none;
  
  border-radius: 25%;
  font-weight: bold;
}

.pages a:hover {
  background-color: #a0a3a5;
}
.pages a:active{
    color:black;
}
.pages a:not(active){
    color:black;
}