body {
  font-family: Arial, sans-serif;
  background-color: #ffedd8;
  text-align: center;
  margin: 0;
}
.navbar a{
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}
.navbar li{
    float:right;
}
.navbar ul{
    list-style-type: none;
    background-color: hsla(44, 63%, 17%, 0.321);
    padding: 0;
    margin: 0;
    display: block;
    height: 50px;
    overflow: hidden;
    
}
.navbar a:not(active){
    color: white;
    font-size: 1.1em;
}
.navbar a:hover{
    background-color: #786D5F;
}

.content {
  max-width: 500px;
  margin: 55px auto;
  line-height: 1.6;
  font-size: 1.5em;
  color: #583101;
  text-align: center;
}

.pages {
  margin-top: 180px;
  margin-bottom: 10px;
}

.pages a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  text-decoration: none;
  border-radius: 25%;
  font-weight: bold;
    background-color: #E7BC91;
}

.pages a:hover {
  background-color: #D4A276;
}
.pages a:active{
    color:black;
}
.pages a:not(active){
    color:black;
}

.my-projects {
    font-size: 40px;
    margin-top: 40px;
    color: #6F4518;
    text-align: start;
    margin-left: 30px;
    margin-bottom: 100px;
}

.project-title {
    font-size: 35px;
    color: #603808;
    text-align: center;
    margin-left: 30px;
}