@font-face {
    font-family: slabo;
    src: url(Slabo27px-Regular.ttf);
}
@font-face {
    font-family: bebe;
    src: url(BebasNeue-Regular.ttf);
}
body{
   background-color: #353636;
    
}
.navbar a{
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    display: block;
    text-align: center; 

}
.navbar li{
    float:right;
}
.navbar ul{
    list-style-type: none;
    background-color: hsla(44, 63%, 17%, 0.321);
    padding: 0;
    margin: 0;
    display: block;
    height: 50px;
    overflow: hidden;
    
}
.navbar a:not(active){
    color: white;
    font-size: 1.1em;
}
.navbar a:hover{
    background-color: #786D5F;
}
div{
    margin: 10px;
    padding: 10px;
    font-size: 1.2em;
    text-align: justify;

}